* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #2E6158;
    color: white;
  }
  
  .ln {
    border: 1px solid #424242;
  }

/* */

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 20%;
    padding: 1%;
    text-align: center;
}

nav {

    width: 73%;
    padding: 1%;
    }

ul {
    padding: 1%;
    width: 50%;
    margin-left: auto;
    font-weight: 300;
    text-align: center;
}

li {
margin: 0 0 0 2rem;
}

.heroImg {
    width: 60%;
    padding: 3rem;

}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight:400;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.6rem;
    font-weight:100;
    letter-spacing: 1px;
}

h3 {
    color:#AED2CD;
    font-weight:lighter;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

p {
    font-size: 1rem;
    font-weight:200;
}

.content {
    width: 500px;
    margin: 0;
}

footer {
    background-color:#42827E;
    padding: 1%;
}

footer .ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    font-weight:300;
}